<tr>
  <td><%= link_to completed_essential.date, completed_essential.url%></td>
  <td><%= link_to completed_essential.name, completed_essential.url%></td>
  <td><%= completed_essential.formatted_time_total %></td>
</tr>
