<% electives_section.render do %>
  <section id="electives-section" class="certification-content">
    <h2><%= t 'woople_theme.dashboards.member.electives_section.title' %></h2>
  </section>
<% end %>
