<tr>
  <td><%= link_to essential_exception.date,essential_exception.url %></td>
  <td><%= link_to essential_exception.name, essential_exception.url %></td>
  <td><%= essential_exception.reason %></td>
</tr>


