@import "woople-theme/variables.css.less";

section.certification-content {

  > h2 {
    padding-left:@contentPadding;
    padding-right:@contentPadding;
    margin-top:0;
    margin-bottom:0;
    padding-top:@contentPadding;
    .section-title();
  }

  .tab-pane {
    background-color: white;
  }
  .nav-tabs li:first-child {
    margin-left: 10px;
  }
  .nav {
    margin-bottom: 0;

    a {
      outline: none
    }
  }

  #electives_points > div {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding:@contentPadding;

    @media (max-width: 767px) {
      width: auto;
    }

    .points {
      .content-title();
      margin-bottom: 0;
    }
  }

  .progress {
    height: 40px;
    text-align: left;
    .bar {
      filter: none;
      background:fade(@highlight, 100%);
      height: 40px;
    }
  }

  .styled-table();

  table {
    tr > td:first-child, tr > th:first-child {
      color: @secondaryTextColour;
      width: 20%;
      padding-top:@tableCellPadding * 1.6;
    }

    tr {
      border-bottom:solid 1px @insetContentBorder;
    }

    h2 {
      .content-title();

      margin-bottom: 0;
    }
  }

  @media (max-width: 767px) {
    table {
      tr > td:first-child, tr > th:first-child {
        padding-left:@phoneMargin;
        text-indent:@phoneMargin * 1.5;
        width: 35%;

        > *:first-child {
          text-indent:0;
          margin-left:@phoneMargin;
        }
      }
    }
  }
}

#calculation-explanation {
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #42474e;
}
