<div class="legend">
  <span class="badge badge-error"><%= t('woople_theme.reports.legend.viewed', range: legend[0]) %></span>
  <span class="badge badge-warning"><%= t('woople_theme.reports.legend.viewed', range: legend[1]) %></span>
  <span class="badge badge-success"><%= t('woople_theme.reports.legend.viewed', range: legend[2]) %></span>
</div>
