<%= page_header title: 'Member Dashboard', description: '' %>

<%= status_alert @presenter.status_color, @presenter.status_description %>

<!-- REMOVE THIS LINE AFTER ADDING CONTENT BELOW --> <div style="height: 0;">&nbsp;</div>
