<%= page_header title: 'Organization Dashboard', description: '' %>

<section id="organization-status">
  <%= status_alert @presenter.status_color, @presenter.status_description %>
</section>

<%= organization_accounts @presenter.accounts %>

<% content_for(:extra_javascript) do %>
  <script type="text/javascript">
    var reminderEmail = function(userId) {
      alert('Sending a reminder to: '+ userId);
    };
    $(function() {
      new OrganizationDashboardController().init({reminderCallback: reminderEmail});
    });
  </script>
<% end %>
