<% #NOTE: this is an example to show how the menu looks when active %>
<% content_for(:menu_active, 'true') %>

<%= page_header(title: 'Continue Learning', description: "what you've started but haven't finished") %>

<%= content_item_header %>
<%= content_items(@content_items) %>

<% # NOTE: this is collapsed to prevent browser adding gaps between elements; and the way will_paginate generates markup %>
<div class="pagination pagination-centered"><span class="previous_page disabled">Prev</span><em class="current">1 <span class="total">/ 20</span></em><a rel="next" href="#">2</a><a href="#">3</a><a href="#">4</a><a class="next_page" rel="next" href="#">Next</a></div>
