<div>
  <div class="progress">
    <div class="bar" style="width: <%= points.percent_complete %>%;"></div>
  </div>
  <h2 class="points"><%= t 'woople_theme.dashboards.member.electives_section.points_earned', count: points.total, points_earned: points.earned, points_total: points.total %></h2>
</div>

