<div class="alert <%= status_alert.css_class %> status-alert" data-content="<%= status_alert.description %>">
  <strong class="alert-heading"><%= status_alert.color %></strong>
  <span><%= status_alert.description %></span>
</div>
