@import "theme/variables.css.less";
@import "theme/colours.css.less";

body {
  background: @background;
}

body > .container {
  margin-bottom:40px;
  overflow-x:hidden;
}

.close-navigation, .navigation {
  display:none;
}

a {
  color:@primary;
}

a:hover {
  color:@primary;
}

#masthead {
  padding-top:@logoSize;
  padding-bottom:@logoSize;
  height:@logoSize;
  position:relative;

  .masthead-logo {
    width:140px;
  }

}

.copyright {
  text-align:right;
  margin-right:30px;
  margin-top:15px;
  color:rgba(0,0,0,0.5);
}

.breadcrumb {
  padding-left:@contentPadding;
  background: @contentBackground;
  .box-shadow(0 1px 3px @insideShadowColour);
  .border-radius(0);
  border:none;
  margin-bottom:0;
}

.pagination {
  margin-top:0;
  .box-shadow(inset 0 1px 3px @insideShadowColour);

  ul {
    .box-shadow(0 0 0 transparent);
    .border-radius(0);
  }
  li:first-child a {
    border-radius:0;
    -webkit-border-radius:0;
  }

  li:last-child a {
    border-radius:0;
    -webkit-border-radius:0;
  }

  a {
    border:none;
  }

  a:hover, .active a {
    background-color:@highlightBackground;
  }

}


@media (max-width: 768px) {
  .container > .row {
    margin-left:0;
  }

  #masthead {
    .masthead-logo {
      display:block;
      margin-left:auto;
      margin-right:auto;
    }
  }

  body {
    padding:0;
  }

  body > .container {
    margin-left:0;
    margin-right:0;
    width:100%;
  }

  .close-navigation {
    z-index:3;
  }

  .navigation {
    display:block;
    z-index:2;

    .icon-th-list {
      background:url(/assets/icons/menu.png);
      background-position:0 0;
    }
  }

  .navigation, .close-navigation {
    position:absolute;
    margin-right:0;
    margin-bottom:0;
    width:50%;
    top:0;
    line-height:@logoWithPadding;
    text-indent:@phoneMargin;
  }

  #navigation:target .close-navigation {
    display:block;
    left:0;
  }

  #navigation:target .navigation {
    display:none;
  }
}

.modal {
  .modal-footer {
    text-align:left;
  }

  .modal-body {
    .modal-video {
      position:relative;
      padding-bottom: 56.25%;
      padding-top:30px; /* ie 6 workaround */
      height:0;
      overflow:hidden;

      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.icon-thumbs-up {
  width:15px;
  height:16px;
  background:url(/assets/icons/thumbs_up.png);
}

.icon-thumbs-down {
  width:15px;
  height:16px;
  background:url(/assets/icons/thumbs_down.png);
}

@media (max-width: 480px) {
  .modal {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    .border-radius(0);
    border:none;

    -webkit-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    overflow-scrolling: touch;

    .modal-body {
      max-height:initial;
    }
  }

  .modal-open {
    .container {
      display:none;
    }
  }
}
