@import "theme/variables.css.less";
@import "theme/colours.css.less";

body {
  background: @background;
}

body > .container {
  margin-bottom:40px;
}

.close, .navigation {
  display:none;
}

a {
  color:@primary;
}

a:hover {
  color:@primary;
}

#masthead {
  padding-top:@logoSize;
  padding-bottom:@logoSize;
  height:@logoSize;
  position:relative;

}

.copyright {
  text-align:right;
  margin-right:30px;
  margin-top:15px;
  color:rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
  body .row {
    margin-left:0;
  }

  #masthead {
    img {
      display:block;
      margin-left:auto;
      margin-right:auto;
    }
  }

  body {
    padding:0;
  }

  body > .container {
    margin-left:0;
    margin-right:0;
    width:100%;
  }

  .close {
    z-index:3;
  }

  .navigation {
    display:block;
    z-index:2;
  }

  .navigation, .close {
    position:absolute;
    margin-right:0;
    margin-bottom:0;
    width:50%;
    top:0;
    line-height:@logoWithPadding;
    text-indent:10px;
  }

  #navigation:target .close {
    display:block;
    left:0;
  }

  #navigation:target .navigation {
    display:none;
  }
}

.breadcrumb {
  padding-left:@contentPadding;
  background: @contentBackground;
  .box-shadow(0 1px 3px @insideShadowColour);
  .border-radius(0);
  border:none;
  margin-bottom:0;
}

.pagination {
  margin-bottom:@contentPadding * -1;

  .box-shadow(inset 0 1px 3px @insideShadowColour);

  ul {
    .box-shadow(0 0 0 transparent);
    .border-radius(0);
  }
  li:first-child a {
    border-radius:0;
    -webkit-border-radius:0;
  }

  li:last-child a {
    border-radius:0;
    -webkit-border-radius:0;
  }

  a {
    border:none;
  }

  a:hover, .active a {
    background-color:@highlightBackground;
  }

}
