@import "theme/variables.css.less";

#browse_show {
  padding:@contentPadding;
  padding-top:0;
}

.categories {
  color: #4984d0;
  font-weight:bold;
}
#browse_show .row {
  margin-bottom: 5px;
}
#browse_show h2 {
  margin-bottom:10px;
}
#browse_show h3 {
  margin-bottom:5px;
}
#browse_show .row p {
  margin-bottom: 10px;
  line-height: 20px;
}
.progress {
  margin-top:3px;
}

@media (max-width: 768px) {
}
