@primary: #4984d0;
@background: #c9d5dd;
@contentBackground: #f9f7f7;

@boxShadowColour: rgba(0,0,0,0.25);
@menuTextShadowColour: rgba(0,0,0,0.5);
@menuActiveColour: #ccc;
@menuHoverColour: rgba(255,255,255,0.25);
@menuLinkColour: rgba(255, 255, 255, 0.75);
@menuHeadingColour: white;
