@import "theme/variables.css.less";
@import "theme/colours.css.less";

#course {
  overflow:hidden;

  .page-header {
    img {
      float:left;
      margin-right:@gridGutterWidth;
    }

    p, h1 {
      margin-left: @gridGutterWidth + @imageWidth;
    }
  }

  > header {
    margin:0;
  }

  header + .outline h2 {
    border-top:0;
  }
}

@media (max-width: 767px) {
  #course {
    .modal-body {
      padding:@phoneMargin;
      .modal-video();
    }

    .modal-header {
      padding:0;
      border:none;
      h3 {
        .outline-title(@phoneLeftColumnOffset);
      }

      .close {
        display:none;
      }
    }

    .modal-footer {
      padding:@phoneMargin;
      border:none;
      .box-shadow(none);
    }
  }
}
