@import "theme/variables.css.less";
@import "theme/colours.css.less";

.menu {
  background: @primary;
  min-width:@menuWidth;
  padding-right:10px;

  .box-shadow();

  -webkit-transition: right, -webkit-transform 0.25s;
  -moz-transition: right, -moz-transform 0.25s;
  -ms-transition: right, -ms-transform 0.25s;
  -o-transition: right, -o-transform 0.25s;
  transition: right, transform 0.25s;

  .menu-content {
    position:relative;
  }

  .search-query {
    width:180px;
  }

  .nav-list {
    margin-top:10px;

    .nav-header {
      color:@menuHeadingColour;
    }

    > li > a {
      color:@menuLinkColour;
      margin-right:-24px;

      em {
        font-size:1.25em;
        line-height:1.5em;
        display:block;
        font-style:normal;
      }
    }

    > li > a, .nav-header {
      text-shadow:0 1px 0 rgba(0,0,0,0.5);
    }

    .active {
      position:relative;

      > a {
        background-color:@menuActiveColour;
        color:@menuHeadingColour;
        margin-left:-18px;
        text-indent:1px;

        ::after {
          content: "";
          position: absolute;
          left: -24px;
          width: 0;
          height: 0;
          border-width: 10px 10px 10px 10px;
          border-style: solid;
          border-color: darken(@highlight, 15%) transparent transparent transparent;
          -webkit-transform: scaleY(0.2) scaleX(0.3) rotate(-45deg);
          top: -10px;
        }
      }

      .label {
        background-color: @menuActiveLabelColour;

      }
    }
  }

  .nav > li > a:hover {
    background-color:@menuHoverColour;
  }

  .cert-status-red {
    width: 14px;
    height: 14px;
    vertical-align:text-top;
    background-image: url('/assets/certification/red-icon.png');
    background-repeat:no-repeat;
    display:inline-block;
    position:absolute;
    left:2px;
    top:0;
  }

  .label {
    float:right;
    min-width:11px;
    text-align:center;
    line-height:1.25em;
    margin-right:5px;
    margin-top:5px;
    background-color: @menuLabelBackground;
  }

  .label-icon {
    padding-left:17px;
    position:relative;
  }

}

@media (max-width: 768px) {
  #navigation:target {
    .menu {
      .translate(0,0);
    }
  }

  .menu .nav-list > li > a {
    margin-right:-14px;
  }

  .no-csstransform {
    .container {
      .menu {
        left: -250px;
      }
    }
  }

  .container {
    .menu {
      padding-right:0;
      position:absolute;
      top:72px;
      .translate(-250px, 0);
    }
  }
}
