@import "theme/variables.css.less";
@import "theme/colours.css.less";

@leftColumnOffset: (@gridGutterWidth*2) + @imageWidth;

.outline {
  margin-bottom:20px;

  h2 {
    line-height:1.5em;
    font-size:11px;
    text-transform:uppercase;
    padding-left:@leftColumnOffset;
    border-top:solid 1px rgba(0,0,0,0.1);
    color: @secondaryTextColour;
    padding-top:@contentPadding * 1.5;
    margin-bottom:@contentPadding / 2;
    padding-right:@leftColumnOffset;
  }

  .assessment {
    margin-left:@leftColumnOffset;
    margin-top:@contentPadding;
    text-transform:uppercase;
  }

  .disabled {
    opacity:0.5;

    a:hover {
      text-decoration:none;
    }
  }

  tr.disabled {
   &:hover {
     td {
       background:none;
     }
   }

   td {
      background-color:transparent;
      text-shadow:none;
      color:@primaryTextColour;

      a {
        color:@primaryTextColour;
      }

      .index {
        display:block;
      }

      .action {
        display:none;
      }
    }
  }

  table {
    margin-bottom:0;

    th {
      color: @secondaryTextColour;
    }

    th, td {
      padding:@tableCellPadding;
      border-top:none;
      a {
        color:@primaryTextColour;
      }
    }

    .count {
      width:75px;
    }

    th {
      border-top:none;
    }

    tr > td:first-child, tr > th:first-child {
      padding-left:@contentPadding;
      width:@gridGutterWidth + @imageWidth - (@tableCellPadding * 2);
    }

    .action {
      display:block;
    }

    .index {
      display:none;
    }

    tr:hover {
      td {
        background-color:@highlightBackground;
      }
    }
  }
}
