@import "twitter/bootstrap/mixins";
@import "twitter/bootstrap/variables";
@import "theme/colours.css.less";

@contentPadding: 20px;
@menuWidth: 170px;
@contentOverlap: 5px;
@contentOffset: @menuWidth - @contentOverlap;
@negativeContentOffset: @contentOffset * -1;

@logoSize: 24px;
@logoWithPadding: @logoSize * 3;

/*course*/
@imageWidth: 50px;
@tableCellPadding: 10px;

@phoneImageSize: 50px;
@phoneMargin: @contentPadding / 2;
@phoneOffset: @phoneImageSize + @phoneMargin;
