<div class="container">
  <header>
    <h1>Typography</h1>
  </header>
  <section>
    <h2>Base</h2>
    <div>
      <h3>H1</h3>
      <h4>Usage</h4>
      <p>The H1 tag is to be used within the masthead of every page to denote the primary heading.</p>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the H1 tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
    <div>
      <h3>H2</h3>
      <h4>Usage</h4>
      <p>The H2 tag is to be used to denote a section on a page.</p>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the H2 tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
    <div>
      <h3>H3</h3>
      <h4>Usage</h4>
      <p>The H3 tag is to be used to denote a subheading within a section.</p>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the H3 tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
    <div>
      <h3>P</h3>
      <h4>Usage</h4>
      <p>The Paragraph tag is the basic unit of text within Woople.</p>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the Paragraph tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
      <h3>EM</h3>
      <h4>Usage</h4>
      <p>The Emphasis tag should be used sparingly to highlight a selection of text.</p>
      <h4>Examples</h4>
      <p>Here are some examples of how we use the Emphasis tag in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
  </section>
  <section>
    <h2>Email Header &amp; Footer</h2>
    <div>
      <h3>Email Header</h3>
      <h4>Usage</h4>
      <p>The Email Header is used within all official Woople E-mails.</p>
      <h4>Examples</h4>
      <p>Here is an example of a Woople E-mail</p>
    </div>
    <div>
      <h3>Email Footer</h3>
      <h4>Usage</h4>
      <p>The Email Footer is used within all official Woople Emails.</p>
      <h4>Examples</h4>
      <p>Here is an example of a Woople Email.</p>
    </div>
  </section>
  <section>
    <h2>Miscellaneous</h2>
    <div>
      <h3>Big Number</h3>
      <h4>Usage</h4>
      <p>The Big Number class is used to callout a particular number to the user's attention.</p>
      <h4>Examples</h4>
      <p>Here is an example of how Big Number is used in Woople.</p>
      <ul>
        <li><a href="">The Certification Dashboard</a></li>
      </ul>
    </div>
  </section>
  <footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  </footer>

</div>
