<div class="container">
	<header class="masthead">
		<h1>Page Title</h1>
		<p>Here is some text</p>
	</header>

	<section id="section-1">
		<div class="page-header">
			<h1>
				Section 1
				<small>This is where you add a short introduction</small>
			</h1>
		</div>
		<div class="row">
		  <div class="span4">
				<h2>Why</h2>
			</div>
		  <div class="span8">
		  	<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
		  </div>
		  <div class="span4">
				<h2>How</h2>
			</div>
		  <div class="span8">
				<div class="tabbable">
				  <ul class="nav nav-tabs">
				    <li class="active"><a href="#1" data-toggle="tab">State 1</a></li>
				    <li><a href="#2" data-toggle="tab">State 2</a></li>
				    <li><a href="#2" data-toggle="tab">State 3</a></li>						
				  </ul>
				  <div class="tab-content">
				    <div class="tab-pane active" id="1">
				      <p>This is State 1.</p>
				    </div>
				    <div class="tab-pane" id="2">
				      <p>This is State 2.</p>
				    </div>
				    <div class="tab-pane" id="3">
				      <p>This is State 3.</p>
				    </div>
				  </div>
				</div>
		  </div>
			
		  <div class="span4">
				<h2>When</h2>
			</div>
		  <div class="span8">
		  	<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
		  </div>

		  <div class="span4">
				<h2>Where</h2>
			</div>
		  <div class="span8">
		  	<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
		  </div>
			
		</div>
	</section>

	<section id="section-2">
		<div class="page-header">
			<h1>
				Section 2
				<small>This is where you add a short introduction</small>
			</h1>
		</div>
	</section>

	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
	</footer>

</div>