<style>
  body {
    background:#4984d0;
  }

  .menu {
    width:40px;
    position:fixed;

    -webkit-transition-property: width;
    -webkit-transition-duration: .25s;
    -webkit-transition-easing: ease-in-out;
  }

  .menu .menu-content {
    position:relative;
    left:-270px;
    -webkit-transition-property: left;
    -webkit-transition-duration: .25s;
    -webkit-transition-easing: ease-in-out;
  }

  .open .menu {
    width:270px;
    position:absolute;
  }

  .open .menu .menu-content {
    display:block;
    left:0;
  }

  .open .content {
    opacity:0.5;
  }

  .outer-content {
    height:600px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: .25s;
    -webkit-transition-easing: ease-in-out;

    /*-webkit-backface-visibility: hidden;*/
  }

  .open .outer-content {
    overflow:hidden;
    position:fixed;
    right:0;
    left:0;
    /*left:280px;*/
    -webkit-transform: translateX(280px);
  }

  .content {
    background:white;
    margin-left:50px;
    padding-left:30px;
    padding-top:40px;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;

    -webkit-box-shadow: -5px -5px 2px rgba(0,0,0,0.25);

    -webkit-transition-property: margin-left, opacity;
    -webkit-transition-duration: .25s;
    -webkit-transition-easing: ease-in-out;
  }
    h1 {
      margin-bottom:30px; 
    }

</style>

<script>
  $(document).ready(function() {
    $('.open-menu').on('click', function() {
      $('.box').toggleClass('open');
    });

    $('.outer-content').height($(document).height());

    $(window).on("resize", function() {
      $('.outer-content').height($(window).height());
    });
  });
</script>

<div class="box">
  <div class="menu">
    <div class="menu-content">
      <h1>Top of Menu</h1>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>
      <p>Menu is open</p>

    </div>
  </div>

  <div class="outer-content">
    <div class="content">
      <h1>Woople</h1>
      <a href="#" class='open-menu'>Open</a>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <a href="#" class='open-menu'>Open</a>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
      <p>Hello World!</p>
    </div>
  </div>
</div>
