@import "woople-theme/variables.css.less";
@import "woople-theme/colours.css.less";

.modal-backdrop {
  opacity:0.5;
}

.modal {
  width:720px;
  margin: -250px 0 0 -360px;
  .border-radius(0);
  background-color:@contentBackground;
  border:none;
  .box-shadow(@default-shadow);

  h3 {
    .content-title();
    margin-bottom:0;
  }

  .modal-footer {
    background-color:@contentBackground;

    #btn-favorite {
      float: left;
      .border-radius(0);
    }

    .btn-group {
      display:inline-block;
    }

    .btn {
      line-height:16px;
    }

    button {
      opacity: 0.8;
    }
    button.active {
      color: black;
    }
  }

  .modal-body {
    max-height:initial;
    padding:0;
    background-color:@contentBackground;

    .modal-video();
  }
}
