@import "woople-theme/variables.css.less";
@import "woople-theme/colours.css.less";

.outline {
  border-bottom:solid 1px fade(@contentBorder, 35%);

  a [class^="icon-"],
  a [class*=" icon-"] {
    text-decoration: none;
  }

  h2 {
    .outline-title();
  }

  .assessment {
    margin-top:@contentPadding / 2;
    position:relative;

    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;

    h3 {
      .content-title();
      padding:@contentPadding / 2;
      padding-bottom:0;
    }

    h4 {
      .outline-title();
    }

    .assessment-attributes {
      padding:@contentPadding / 2;
    }

    .alert {
      margin:@contentPadding / 2;
    }

    .badge {
      .woople-badge();
    }

    .assessment-start {
      .btn {
        margin:@contentPadding / 2;
      }
    }

    .assessment-pad {
      .nav-tabs {
        margin-bottom: 0;

        li:first-child {
          margin-left: 10px;
        }

        a {
          outline: 0;
        }
      }

      .tab-content.completed {
        background-image:url(/assets/woople-theme/completed-triangle.png);
        background-position:top right;
        background-repeat:no-repeat;
      }

      .tab-content {
        background: white;
      }

      .assessment-history {
        a {
          color: @primary;
        }
      }
    }

    .outline {
      border:none;
    }
  }

  .styled-table();
}

@media (max-width: 767px) {
  .outline {

    h2 {
      .outline-title(@phoneLeftColumnOffset);
    }

    > p {
      padding-left:@phoneLeftColumnOffset;
      padding-right:@phoneMargin;
    }

    .assessment {
      .assessment-history {
        table tr > td:first-child, tr > th:first-child {
          text-indent:0;
        }
      }
    }
  }
}
