@import "woople-theme/variables.css.less";
@import "woople-theme/colours.css.less";

.pagination {
  margin-top:0;
  .box-shadow(inset 0 1px 3px @insideShadowColour);

  a:hover, .active a {
    background-color:@highlightBackground;
  }

  a, em, span {
    border: none;
    display: inline-block;
    float: none;
    font-style: normal;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
  }

  .current {
    background-color:@highlightBackground;
  }
  
  .current, .disabled {
    .disabled_pagination();
  }
}

.disabled_pagination() {
  color: #999;
  cursor: default;
}