@import "woople-theme/variables.css.less";
@import "woople-theme/colours.css.less";

h2.results-header {
  .content-title();
  background-color:@highlight;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  padding: 0.5em 20px;
  text-shadow:0 1px 0 rgba(0,0,0,0.5);
}

.content-item + h2 {
  margin-top: 40px;
}