.navigation .icon-menu {
  background-image:url(/assets/woople-theme/icons/menu2x.png);
  background-size: 14px 14px;
}

.content-item.completed,
.page-header.completed {
  background-image:url(/assets/woople-theme/completed-triangle2x.png);
  background-size:34px 27px;
}

.menu .cert-status {
  background-size:25px 25px;
}

.menu .red {
  background-image:url(/assets/woople-theme/certification/red-icon2x.png);
}

.menu .green {
  background-image:url(/assets/woople-theme/certification/red-icon2x.png);
}

.menu .yellow {
  background-image:url(/assets/woople-theme/certification/red-icon2x.png);
}
