<div class="course row">
  <div class="course-image span1">
    <%= image_tag('course.jpg', :class => 'course_img') %>
  </div>
  <div class="course-content span6">
    <div class="metadata">
      <a href="#"><i class="icon-ok"></i> Essential</a>
      <a href="#"><i class="icon-time"></i> 12 Minutes</a>
      <a href="#"><i class="icon-heart"></i> 212,396 Likes</a>
    </div>

    <h2><a href=""><%= name %></a></h2>

    <div class="row">
      <div class="span5">
        <div class="progress progress-success">
          <div class="bar" style="width: 60%"></div>
        </div>
      </div>
      <div class="span1">
        <a class="btn" href="">Resume</a>
      </div>
    </div>
  </div>
</div>
