<div class="menu span3">
  <div class="menu-content">
    <ul class="nav nav-list">
      <li class="active"><a href="#">Continue Learning</a></li>
      <li class="nav-header">Certification</li>
      <li><a href="#">Report<i class="cert-status-red"></i></a></li>
      <li><a href="#">Essential</a></li>
      <li><a href="#">Elective</a></li>

      <li class="nav-header">Featured</li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Favourites</a></li>

      <li class="nav-header">Categories</li>
      <li><a href="#">Advice</a></li>
      <li><a href="#">Agency Best Practices</a></li>
      <li><a href="#">Allstate Workout 1</a></li>
      <li><a href="#">Allstate Workout 2</a></li>
      <li><a href="#">Allstate Workout 2012</a></li>
      <li><a href="#">Allstate Workout 3</a></li>
      <li><a href="#">California Region</a></li>
      <li><a href="#">Care Sell Quote Close</a></li>
      <li><a href="#">Executive Messages</a></li>
      <li><a href="#">Grid Square</a></li>
      <li><a href="#">Interviews</a></li>
      <li><a href="#">Leadership</a></li>
      <li><a href="#">Live Events</a></li>
      <li><a href="#">Motivation</a></li>
      <li><a href="#">Personal Development</a></li>
      <li><a href="#">Sales Quick Tips</a></li>
      <li><a href="#">Woople Help</a></li>

      <li class="nav-header">Elsewhere</li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div>

