<% content_for :breadcrumb do %>
  <li><a href="/browse">Continue Learning</a> <span class="divider">/</span></li>
  <li class="active"><a href="#">Closing Strategies Live 107</a></li>
<% end %>

<section id="course">
  <header class="page-header">
    <%= image_tag('course.jpeg') %>
    <h1>Closing Strategies Live 107</h1>
    <p>Learn how to use The “O” Grid in isolation to refine your closing skills and reinforce your commitment to the customer</p>
  </header>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="count">#</th>
        <th class="string">Name</th>
        <th class="count">Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Reference Guide</td>
        <td>-</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Learn to Isolate</td>
        <td>1:59</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Define - Select - Write</td>
        <td>2:13</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Create Your Own Statements</td>
        <td>1:40</td>
      </tr>
      <tr>
        <td>5</td>
        <td>How to Practice</td>
        <td>4:32</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Student Practice</td>
        <td>1:27</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Examples: Student Sharing</td>
        <td>4:26</td>
      </tr>
      <tr>
        <td>8</td>
        <td>6 Question Assessment</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</section>
