<ul class="breadcrumb">
  <li><a href="/browse">Continue Learning</a> <span class="divider">/</span></li>
  <li class="active"><a href="#">Closing Strategies Live 107</a></li>
</ul>

<section id="course">
  <header class="page-header">
    <%= image_tag('course.jpeg') %>
    <h1>Closing Strategies Live 107</h1>
    <p>Learn how to use The “O” Grid in isolation to refine your closing skills and reinforce your commitment to the customer</p>
  </header>

  <h2>Good Hands Closing</h2>
  <%= render 'outline' %>

  <h2>Specific Closing Strategies</h2>
  <%= render 'outline' %>

  <h2>An Interview with Paul Cummings about Closing</h2>
  <%= render 'outline' %>
</section>
