<% content_for(:menu_active, 'true') %>
<style>
  h2 {
    font-weight:normal;
  }
  .course_img {
    border-radius: 5px;
  }

  @media (min-width: 1200px) {
    #browse_show .span6, #browse_show .span5 {
      margin-left: 25px;
    }
  }

  class*=['span'] {
    background:purple;
  }
</style>

<section id="browse_show">
  <header class="page-header">
    <h1>Continue Learning</h1>
    <p>what you've started but haven't finished</p>
  </header>


<%
  course_names = ["Agency Economics - 2012 Overview", "Claim Satisfaction Guarantee", "Good Hands® Together", "Flood Insurance Basics", "Understanding the Do's and Don'ts of Do Not Call", "Building a Better Business 101", "Closing Mastery 101", "Empathy in Action", "Motivational Minutes 101", "Question Asking 101", "The Power of Goal Setting 101", "The Power of Rapport 101", "The Certification Program", "Value Building 101", "Quoting 101", "Developing a Powerful Closing Personality", "The Power of Rapport 102", "Developing Closing Fundamentals", "Good Hands Power Closing Sequences", "Building a Better Business 102", "Driving RFG: Customer Loyalty and A.L.I. - Chapter 1", "Driving RFG: Customer Loyalty and A.L.I. - Chapter 2", "Driving RFG: Retention Chapter 1", "Driving RFG: Retention Chapter 2", "Driving RFG: Retention Chapter 3", "Building a Better Business 103", "Building a Better Business 104", "Closing Strategies Live 101", "Closing Strategies Live 102", "Driving RFG: Cross-Selling Financial Chapter 1 ", "Driving RFG: Cross-Selling Financial Chapter 2", "The Customer Protection Review Chapter 1", "The Customer Protection Review Chapter 2", "The Power of Rapport 103", "The Power of Rapport 104", "The Power of Rapport 105", "The Power of Rapport 106", "Building a Better Business 105", "Building a Better Business 106", "Premium Increase ", "Driving RFG: Brainstorming for Business Chapter 1 ", "Driving RFG: Brainstorming for Business Chapter 2", "Driving RFG: Brainstorming for Business Chapter 3 ", "Closing Strategies Live 103", "Growing with Boating Chapter One", "Growing with Boating Chapter Two ", "Closing Strategies Live 104", "Centers of Influence Chapter 1 ", "Centers of Influence Chapter 2 ", "Driving RFG: Selling Auto in the Next 30 Days Chapter 1 ", "Driving RFG: Selling Auto in the Next 30 Days Chapter 2 ", "Driving RFG: Selling Auto in the Next 30 Days Chapter 3", "Driving RFG: Selling Auto in the Next 30 Days Chapter 4 ", "Motivational Minutes: Discipline ", "The Power of Rapport 107", "My Work Items ", "Growing with Allstate Business Insurance Chapter 1", "Growing with Allstate Business Insurance Chapter 2", "Driving RFG: Referrals Chapter 1", "Driving RFG: Referrals Chapter 2", "Closing Strategies Live 105", "Closing Strategies Live 106", "The Power of Rapport 108", "Motivational Minutes: Coaching and Mentoring", "Grid Square Basics", "Close Rate! Close Rate! Close Rate! ", "Allstate House & Home ", "Allstate House & Home: Q&A with Ron Stouffer ", "Building a Better Business 107 ", "Closing Strategies Live 107 ", "Driving RFG: Marketing Chapter 1 ", "Driving RFG: Marketing Chapter 2 ", "Motivational Minutes: Commitment and Desire ", "The Power of Rapport 109", "Aligning Goals Chapter 1 ", "Aligning Goals Chapter 2 ", "Closing Strategies Live 108", "Closing Strategies Live 109", "Motivational Minutes: Causes of Failure", "The Power of Rapport 110", "EB Event Marketing: Advertise Yourself - Promote Your Agency", "Allstate Business Insurance - It's Everywhere", "Live from the NC Region: CSG Roundtable Chapter 1", "Flood Insurance Sales Tips", "Strategies for Growing in the Multicultural Marketplace", "Live from the NC Region: CSG Roundtable Chapter 2", "Recruiting for Staffing Chapter 1", "Recruiting for Staffing Chapter 2", "Click eSign - How to Use", "True Term Product Education", "Grid Square Communication", "The Magic Number Process"]
%>

  <% 10.times do %>
    <%= render 'course', name: course_names.sample %>
  <% end %>

  <div class="pagination pagination-centered">
    <ul>
      <li><a href="#">Prev</a></li>
      <li class="active">
      <a href="#">1</a>
      </li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>

</section>
