<div id="browse_show">
  <h2>Continue Learning</h2>
  <div>
    <h3>EB Event Marketing: Advertising Yourself, Promote Your Agency</h3>
    <p>Catagories: Sales, Marketing, Being Awesome, Making the Grade</p>
    <p>My money's in that office, right?  We should use it to make our Agency even more awesome.</p>
    <div class="row">
      <div class="span4">
        <div class="progress">
          <div class="bar" style="width: 60%"></div>
        </div>
      </div>
      <div class="span4">
        <a class="btn" href="">View</a>
      </div>
    </div>
  </div>


</div>
