<section id="browse_show">
  <header class="page-header">
    <h1>Continue Learning</h1>
    <p>what you've started but haven't finished</p>
  </header>

  <div class="row">
    <div class="span6">
      <h3><a href="">Agency Economics - 2012 Overview</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Look forward to the new Agency Compensation Program with this overview of how it will function and benefit agents in 2012</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 10%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Allstate Business Insurance - It's Everywhere</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Learn how to better identify and acquire Allstate Business Insurance (ABI) leads using the ideas and strategies from this great course!</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 20%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Allstate House & Home: Q&A with Ron Stouffer</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Join Ron Stouffer as he explains more about Allstate?s House &amp; Home product in this fun course!</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 90%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Bundling: Keeping It All Together Chapter 1</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Learn the essential techniques for bundling Allstate products in order to better serve the customer</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 40%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Resources for Growth: Items in Force (IIF) Report</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Tracking your Agency?s progress towards your year-end goals just got easier with the new Items In Force (IIF) report. This course will help you better understand how to find and use this report</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 60%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Strategies for Growing in the Multicultural Marketplace</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Increase your customer base and community influence by expanding into the Multicultural Marketplace with these tips and strategies</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 80%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <img src="" height="50px" width="50px">
    </div>
    <div class="span7">
      <h3><a href="">Strategies for Growing in the Multicultural Marketplace</a></h3>
      <div>
        <a href="#"><i class="icon-ok"></i> Essential </a><a href="#"><i class="icon-heart"></i> 212,396 Likes </a>
      </div>
    </div>
  </div>


  <div class="pagination pagination-centered">
    <ul>
      <li><a href="#">Prev</a></li>
      <li class="active">
      <a href="#">1</a>
      </li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>

</section>
