<style>
  .categories {
    color: #4984d0;
    font-weight:bold;
  }
  #browse_show .row {
    margin-bottom: 5px;
  }
  #browse_show h2 {
    margin-bottom:10px;
  }
  #browse_show h3 {
    margin-bottom:5px;
  }
  #browse_show .row p {
    margin-bottom: 10px;
    line-height: 20px;
  }
  .progress {
    margin-top:3px;
  }

  @media (max-width: 768px) {

    #browse_show .row {
      margin-left:0px;
    }

  }

</style>

<div id="browse_show" class="clist">
  <div class="page-header">
    <h2>Continue Learning</h2>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Agency Economics - 2012 Overview</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Look forward to the new Agency Compensation Program with this overview of how it will function and benefit agents in 2012</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 10%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Allstate Business Insurance - It's Everywhere</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Learn how to better identify and acquire Allstate Business Insurance (ABI) leads using the ideas and strategies from this great course!</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 20%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Allstate House & Home: Q&A with Ron Stouffer</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Join Ron Stouffer as he explains more about Allstate?s House &amp; Home product in this fun course!</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 90%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Bundling: Keeping It All Together Chapter 1</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Learn the essential techniques for bundling Allstate products in order to better serve the customer</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 40%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Resources for Growth: Items in Force (IIF) Report</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Tracking your Agency?s progress towards your year-end goals just got easier with the new Items In Force (IIF) report. This course will help you better understand how to find and use this report</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 60%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3><a href="">Strategies for Growing in the Multicultural Marketplace</a></h3>
      <p class="categories"><a href="">Sales</a>, <a href="">Marketing</a>, <a href="">Leadership</a>, <a href="">Motivation</a></p>
      <p>Increase your customer base and community influence by expanding into the Multicultural Marketplace with these tips and strategies</p>
      <div class="row">
        <div class="span5">
          <div class="progress progress-success">
            <div class="bar" style="width: 80%"></div>
          </div>
        </div>
        <div class="span1">
          <a class="btn" href="">Resume</a>
        </div>
      </div>
    </div>
  </div>
</div>
