<div id="browse_show">
  <p>Please explore the demo.</p>

  <h2>Exercise 1: Find the popular courses</h2>
  <p>Try to find the popular courses in Woople, if you cannot find them ask for help!</p>

  <h2>Exercise 2: Search for 'Sales Training'</h2>
  <p>Perform a search for 'Sales Training' don't worry the results don't work yet!</p>

  <h2>Exercise 3: Get Help!</h2>
  <p>You are having trouble figuring something out and you want to ask for help. Visit the help section.</p>

  <h2>Exercise 4: Log out</h2>
  <p>You are sharing a computer with someone else, you are finished working. Please log out.</p>
</div>
