<div class="span12 return">
  <input type="button"
         value="<%= I18n.t('woople_theme.return_to_course') %>"
         class="btn btn-large"
         data-course-path="<%= data.course_path %>" />
</div>
