<% input_id = "question_#{question_number}_answer_#{assessment_form_answer_counter + 1}" %>
<label class="radio" for="<%= input_id %>"><input type="radio" id="<%= input_id %>" name="question_<%= question_number %>" /><%= assessment_form_answer %></label>