<ul class="breadcrumb">
  <li><%=link_to t('woople_theme.breadcrumb.organization'), breadcrumb.organization_path %> <span class="divider icon-chevron-right"></span></li>
  <li class="active"><%= t('woople_theme.breadcrumb.member')%></li>
</ul>
