<% #NOTE: Only one sort should be possible at the same time. These need to sort server side due to pagination %>
<div class="content-item-header row">
  <div class="span1">&nbsp;</div>
  <div class="span2"><a href="#" class="sortAsc">Time Left <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i> </a></div>
  <div class="span2"><a href="#" class="sortDesc">Popularity <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></a></div>
  <div class="span2"><a href="#">Points <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></a></div>
</div>
