<div class="row-fluid impersonation-banner">
  <div class="span6">
    <%=t 'woople_theme.logged_in_as' %> <span class="badge"><i class="icon-user icon-white"></i> <%= impersonation.logged_in_as %></span>
  </div>
  <div class="span6">
    <%=t 'woople_theme.impersonating' %> <span class="badge badge-info"><i class="icon-user icon-white"></i> <%= impersonation.impersonating %></span>
  </div>
</div>