<div class="menu span3">
  <div class="menu-content">
    <ul class="nav nav-list">
      <% menu.each do |section| %>
        <% section.name do |name| %>
          <li class="nav-header"><%= name %></li>
        <% end %>
        <% section.each do |link| %>
          <li class="<%= link.css_class %>"><a href="<%= link.url %>"><%= link.featured_tag(link.name + link.badge + link.certification_badge) %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

