<tr class="<%= outline_download.css_class %>">
  <td><a class="action btn btn-primary" href="#"><i class="icon-white icon-download-alt"></i></a></td>
  <td><a href="#"><%= outline_download.name %></a></td>
  <td></td>
</tr>

