<tr class="<%= outline_download.css_class %>">
  <% if outline_download.enabled %>
  <td class="icons">
    <%= link_to("<i class='icon-download-alt'> </i> ".html_safe, outline_download.url, target: '_blank') %>
  </td>
  <td>
    <%= link_to(outline_download.name, outline_download.url, target: '_blank') %>
  </td>
  <% else %>
  <td class="icons">
    <i class="icon-download-alt"> </i>
  </td>
  <td>
    <%= outline_download.name %>
  </td>
  <% end %>
  <td></td>
</tr>
