<table class="table">
  <thead>
    <tr>
      <th class="icons"></th>
      <th class="string"><%=t 'woople_theme.outline.name' %></th>
      <th class="count"><%=t 'woople_theme.outline.duration' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'woople-theme/outline_video', collection: videos %>
  </tbody>
</table>
