<div class="outline">
  <h2><%= outline.name %></h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th class="string">Name</th>
        <th class="count">Duration</th>
      </tr>
    </thead>
    <tbody>
      <%= outline.render_downloads(self) %>
      <%= outline.render_videos(self) %>
    </tbody>
  </table>
  <% outline.assessment do |assessment_class| %>
    <p class="<%= assessment_class %>"><a>START ASSESSMENT</a></p>
  <% end %>
</div>
