<header class="page-header <%= header.image_class %>">
  <% header.image do |url| %>
    <%= image_tag(url) %>
  <% end %>

  <h1><%= header.title %></h1>
  <p><%= header.description %></p>
</header>
