<div class="profile">
  <form class="search" action="/search">
    <a href="#" class='search-page'><i class="icon-search"></i></a>
    <input name="q" type="search" class="search-query" placeholder="<%=t 'woople_theme.profile.search' %>" value="<%= params[:q] %>">
  </form>
  <ul class="nav nav-pills profile-link">
    <li class="dropdown">
      <%= link_to(image_tag(profile.image), "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' }) %>
      <ul id="menu1" class="dropdown-menu">
        <% profile.sections.each do |section| %>
          <% section.links.each do |link| %>
            <li><%= link_to(link.name, link.url) %></li>
          <% end %>
          <li class="divider"></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
