<div id="myModal" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <% %>
    <h3><%= video.name %></h3>
  </div>
  <div class="modal-body">
    <div class="modal-video">
      <% #TODO: this only works with youtube urls right now. obviously hack %>
      <iframe src="<%= video.src %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" data-toggle="buttons-radio">
      <button class="btn btn-primary"><i class="icon-thumbs-up"></i> <%=t 'woople_theme.video_modal.like' %></button>
      <button class="btn btn-primary"><i class="icon-thumbs-down"></i> <%=t 'woople_theme.video_modal.dislike' %></button>
    </div>
  </div>
</div>

