<% #NOTE: this is an example to show how the menu looks when active %>
<% content_for(:menu_active, 'true') %>

<%= page_header(title: 'Continue Learning', description: "what you've started but haven't finished") %>
<%= content_item_header %>
<%= content_items(@content_items) %>

<% # NOTE: this will probably be replaced with will_paginate %>
<div class="pagination pagination-centered">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
    <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
