<!DOCTYPE html>
<html>
<head>
  <title>Woople Style Guide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
			<a class="brand" href="#">
				Woople Style Guide
			</a>
			<ul class="nav">
			  <li class="active">
			    <a href="/">Home</a>
			  </li>
			  <li><a href="#layout">Layout</a></li>
			  <li><a href="#base">Base</a></li>
			  <li><a href="#modules">Modules</a></li>
			  <li><a href="#rich-modules">Rich Modules</a></li>								
			</ul>
	    </div>
	  </div>
	</div>

	<%= yield %>



</body>
</html>
