<!DOCTYPE html>
<html>
<head>
  <title>Woople Style Guide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    .show_source {
      display:none;
    }
    .focused {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      outline: 0;
      outline: thin dotted \9;
      /* IE6-8 */
    }
  </style>
</head>
<body>	
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          Woople Style Guide
        </a>
        <ul class="nav">
          <li><a href="#buttons">Buttons</a></li>
          <li><a href="#progress_bars">Progress Bars</a></li>
          <li><a href="#lists">Lists</a></li>
          <li><a href="#charts">Charts</a></li>
          <li><a href="#iconography">Iconography</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#forms">Forms</a></li>
          <li><a href="#rich_modules">Rich Modules</a></li>
          <li><a href="#navigation">Navigation</a></li>
        </ul>
      </div>
    </div>
  </div>

  <%= yield %>
</body>
</html>
